@font-face {
    font-family: "Deutsch Gothic";
    src: url("Deutsch.ttf");
}

body {
    font-size: calc(16px + 1vw);
}

h1 {
    font-family: "Deutsch Gothic", serif;
    font-size: calc(48px + 3vw);
}

table {
    font-family: "Georgia", serif;
    font-size: calc(16px + 1vw);
}

button, select {
    font-size: calc(16px + 1vw);
}

table {
    border-collapse: collapse;
}

.row-header {
    text-align: right;
    font-weight: bold;
    padding-right: 16px;
}

.unit-matchup {
    width: 100%;
}

.unit-matchup th {
    padding: 6px;
}

.unit-matchup td {
    padding: 6px;
}

/* Set max width for first column of unit-matchup */
.unit-matchup th:nth-child(1) {
    max-width: 15em;
}
.unit-matchup td:nth-child(1) {
    max-width: 15em;
}

th {
    border-bottom: 1px solid black;
    text-align: left;
}

/* Nav formatting */
.nav span {
    padding: 0.5em;
    border-right: 1px solid black;

}

.nav {
    padding-bottom: 1em;
}

.footer {
    text-align: right;
    padding-right: 1em;
}
